- form_for @entry do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :year
    %br
    = f.text_field :year
  %p
    = f.label :media_typ
    %br
    = f.radio_button :media_typ, true
    Movie
    = f.radio_button :media_typ, false
    TV Show
  %p
    = f.label :quality
    %br
    = f.collection_select :quality, Entry::QUALITIES, :to_s, :humanize

  - f.fields_for :links do |builder|
    = render 'link_fields', :f => builder
  %p
    = link_to_add_fields "Add Link", f, :links
  %p
    = f.label :nfo
    %br
    = f.text_area :nfo, :rows => 5
  %p
    = f.submit

