- title "Entry"

%p
  %strong Title:
  = @entry.title
%p
  %strong Year:
  = @entry.year
%p
  %strong Genre:
  %ul
    -for genre in @entry.genres
      %li
        =genre.name.humanize
%p
  %strong Media Typ:
  -if @entry.media_typ
    Movie
  -else
    TV Show
%p
  %strong Quality:
  = @entry.quality
-if not @entry.links.empty?
  %p
    %strong Links:
    %ul
      -for link in @entry.links
        %li
          =link_to link.name, link.url, {:rel => "external", :target => "_blank"}
%p
  %strong Nfo:
  = @entry.nfo
%p
  = link_to "Edit", edit_entry_path(@entry)
  |
  = link_to "Destroy", @entry, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", entries_path

