-#cache @entry do
#shows
  %h1.title
    = google_for(@entry.title, @entry.year.to_s)
  %ul.info
    %li
      -if @entry.media_typ
        Movie
      -else
        TV Show
    %li
      = @entry.year
    %li
      -unless @entry.supplicant.blank?
        request by
        =@entry.supplicant

  -unless @entry.image_url.blank?
    =image_tag @entry.image_url, :width => '150', :class => 'image'


  -unless @entry.genres.blank?
    %div.hlisten
      %strong Genre:
      %ul
        -for genre in @entry.genres
          %li
            =genre.name.humanize
  -unless @entry.languages.blank?
    %div.hlisten
      %strong Sprache:
      %ul
        -for language in @entry.languages
          %li
            =language.long
  -unless @entry.sub_languages.blank?
    %div.hlisten
      %strong Untertitelsprache:
      %ul
        -for language in @entry.sub_languages
          %li
            =language.long

  -unless @entry.quality.blank?
    %div.quality
      %strong Quality:
      = @entry.quality

  -unless @entry.links.blank?
    %div.links
      %strong Links:
      %ul
        -for link in @entry.links
          %li
            =link_to link.name, link.url, {:rel => "external", :target => "_blank"}

  -unless @entry.nfo.blank?
    %div.monospaced
      =@entry.nfo


  %ul.controls
    %li= link_to "Edit", edit_entry_path(@entry)
    %li= link_to "Destroy", @entry, :confirm => 'Are you sure?', :method => :delete
    %li= link_to "View All", entries_path

