%div
  = f.label :media_typ
  %br
  = f.collection_select :media_typ, Entry::MEDIATYPES, :to_s, :to_s
%div
  = f.label :quality
  %br
  = f.collection_select :quality, Entry::QUALITIES, :to_s, :to_s
%div
  = f.label :image_url
  %br
  = f.text_field :image_url
  %br
  .forminfo
    Hier bitte die url zu Film/Serien/Doku Plakat oder ähnlichem eintragen

- f.fields_for :links do |builder|
  = render '/shared/link_fields', :f => builder
%p
  = link_to_add_fields "Add Link", f, :links
%div
  = f.label :nfo
  %br
  = f.text_area :nfo, :rows => 5, :cols => 80

%div
  = f.label 'Sprache'
  %br
  %ul.selects
    -for language in Language.all
      %li
        = check_box_tag "entry[language_ids][]", language.id,  @entry.blank? ? false : @entry.languages.include?(language)
        = language.long
    %li
      = link_to_add_fields "Add Language", f, :languages
%div
  = f.label 'Untertitelsprache'
  %br
  %ul.selects
    -for language in Language.all
      %li
        = check_box_tag "entry[sub_language_ids][]", language.id,  @entry.blank? ? false : @entry.sub_languages.include?(language)
        = language.long
    %li
      = link_to_add_fields "Add Language", f, :sub_languages

%div
  = f.label :genres
  %br
  %ul.selects
    -for genre in Genre.all
      %li
        = check_box_tag "entry[genre_ids][]", genre.id, @entry.blank? ? false : @entry.genres.include?(genre)
        = genre.name

