- form_for @request do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :supplicant
    %br
    = f.text_field :supplicant
  %p
    = f.label :year
    %br
    = f.text_field :year
  %p
    = f.label :language
    %br
    = f.text_field :language
  %p
    = f.label :comment
    %br
    = f.text_area :comment, :rows => 3, :cols => 80
  %p
    = f.submit

