- title "Requests"

-form_tag requests_path, :method => 'get' do
  -content_tag :label do
    Search:
    = text_field_tag :search, params[:search]

<%= will_paginate @requests %>

%div#requests
  - for request in @requests
    %div#request
      %h2.title
        = link_to request.title, request
      %p
        =request.year
        |
        =request.language
        |
        =request.supplicant
        ||
        = link_to "Edit", edit_request_path(request)
        |
        = link_to "Destroy", request, :confirm => 'Are you sure?', :method => :delete
        |
        = link_to "Convert", convert_request_path(request)

%p= link_to "New Request", new_request_path

