- title "Request"

%p
  %strong Title:
  = @request.title
%p
  %strong Supplicant:
  = @request.supplicant
%p
  %strong Year:
  = @request.year
%p
  %strong Language:
  = @request.language

%p
  = link_to "Edit", edit_request_path(@request)
  |
  = link_to "Destroy", @request, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", requests_path
  |
  = link_to "Convert", convert_request_path(@request)

