-#cache @request do
#shows
  %h1.title
    =@request.title
  %ul.info
    %li= @request.year
    %li
      request by
      =@request.supplicant
  %div
    %strong Sprache:
    = @request.language
  %strong Comment:
  %div.indent
    = simple_format(@request.comment)
  %ul.controls
    %li= link_to "Edit", edit_request_path(@request)
    %li= link_to "Destroy", @request, :confirm => 'Are you sure?', :method => :delete
    %li= link_to "View All", requests_path
    %li= link_to "Convert", convert_request_path(@request)

