- form_for @link do |f|
  = f.error_messages
  %p
    = f.label :entry_id
    %br
    = f.text_field :entry_id
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :url
    %br
    = f.text_field :url
  %p
    = f.submit
